<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>e-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>homePage</display-name>
    <servlet-name>homePage</servlet-name>
    <servlet-class>web.homePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homePage</servlet-name>
    <url-pattern>/homePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyForm</display-name>
    <servlet-name>BuyForm</servlet-name>
    <servlet-class>web.BuyForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyForm</servlet-name>
    <url-pattern>/BuyForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>web.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>formResult</display-name>
    <servlet-name>formResult</servlet-name>
    <servlet-class>web.formResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formResult</servlet-name>
    <url-pattern>/formResult</url-pattern>
  </servlet-mapping>
</web-app>